* {
    font-family: "Barrio", helvetica;
    /* was cursive */
}

body {
  /*background-image: url("../definitely_not_bg.jpg");*/
  background-position: center;
  background-size: cover;
  background: linear-gradient(to right, rgba(164,217,245,1) 0%, rgba(247,202,244,1) 100%);
}

/* LAYOUT */
nav {
    margin-bottom: 40px;
}

.navbar  {
  background: rgba(0,0,0,1);
  color: white;
  border: 0;
  font-size: 2em;
}

footer {
  color: white;
}

/* SUMMONER */
.summoner {
  text-align: center;
  color: white;
  padding: 20px;
}

.summoner > h1 {
  font-size: 10em;
}

input[type="text"] {
  font-size: 4em;
  padding: 1em;
  background: rgba(0,0,0,0.7);
  text-align: center;
  font-color: white;
}

.glyphicon {
  font-size: 2em;
}

/* CHAMPS */
/* should be under search box*/
.champ-block {
  border-radius: 100%;
  width: 100px;
  height: 100px;
  background: rgba(255,255,255,1);
  /*border: 2px solid white;*/
  text-align: center;
  /*should be flex EACH*/
  margin-top: 0;
  padding-top: 40px;
}

.flex-container {
	display: flex;
	list-style: none;
	background: rgba(0,0,0,0);
}
