<div class="container center-block" style="margin-top: 5%;">
	<input id="champ_search" ng-model="search.name" type="text" placeholder="Search for champ..."/><br/>
	<ul class="flex-container" ng-repeat="champion in rc.champions | orderBy: 'name' | filter:search">
		<li class="flex-item">{{ champion.name }}</li>
	</ul>
</div>

	<!-- Maybe should put this into a directive-->
	<!--Sizing may be applied to thead only, all td will follow-->
	<!--<thead>--> <!-- Maybe use this for Job Position -->
		<!--<td>{{ job }}</td>-->
		<!--<td>A</td>-->
	<!--</thead>-->
<!--

	<div class="well">
		<table class="table table-condensed">
			<tr ng-repeat="champion in rc.champions | orderBy: 'name' | filter:search">
				<td  class="col-md-9"><strong>{{ champion.name }}</strong></td>
				<!-- <td class="col-md-9"> {{ value }}</td> -->
			<!-- </tr>
		</table>
	</div> -->
<!-- </div> -->
