<div class="summoner container center-block" style="margin-top: 5%;">
	<form class="form-inline" ng-submit="sc.getSummoner(sc.summoner)">
		<div class="form-group has-feedback right-inner-addon input-group">
		    <span class="glyphicon glyphicon-search fa-4x form-control-feedback input-group-addon"></span>

			<input type="text" class="form-control" autocomplete="off" id="summoner" ng-model="sc.summoner" placeholder="Enter your summoner name">
		</div>
	</form>

	<table class="jumbotron" ng-if="sc.summonerData" style="margin: 0 auto; margin-top: 5em; background: rgba(0,0,0,0);">
		<tr ng-repeat="item in sc.summonerData">
			<td><h1>{{item.champion}}</h1></td>
			<td style="padding-left: 2em;"><h1>{{item.used}}</h1></td>
		</tr>
	</table>
</div>
